<div class="articleTop">

  <div class="pushMenu">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-xiajianjiao"></use>
    </svg>
  </div>

  <div class="menu">

    <!--     <div class="item" data-pos-date data-type="0" data-subname="dateStart/dateEnd">

      <div class="head">
        <div class="txt">当日</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="cont-head">
          <div class="contli">最近15分钟</div> -->
    <!-- </div>
        <div class="cont-body">
          <div class="dateul">
            <div class="date-this">
              <div class="txt"></div>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-chakan"></use>
              </svg>
            </div>
            <div class="date-ym">
              <div class="prev btn">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-youjianjiao"></use>
                </svg>
              </div>
              <div class="selectY item"> -->
    <!-- <div class="head"> -->
    <!-- <div class="txt selecttxt" data-val="2018">2018年</div> -->
    <!-- <div class="txt selecttxt" data-val=""></div> -->
    <!-- <svg class="icon" aria-hidden="true"> -->
    <!-- <use xlink:href="#icon-youjianjiao"></use> -->
    <!-- </svg> -->
    <!-- </div> -->
    <!-- <div class="cont"> -->
    <!-- <div class="li" data-val="2013">2013年</div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="selectM item"> -->
    <!-- <div class="head"> -->
    <!-- <div class="txt selecttxt" data-val="7">7月</div> -->
    <!-- <div class="txt selecttxt" data-val=""></div>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-youjianjiao"></use>
                  </svg>
                </div>
                <div class="cont">
                  <div class="li" data-val="1">1月</div>
                  <div class="li" data-val="2">2月</div>
                  <div class="li" data-val="3">3月</div>
                  <div class="li" data-val="4">4月</div>
                  <div class="li" data-val="5">5月</div>
                  <div class="li" data-val="6">6月</div>
                  <div class="li" data-val="7">7月</div>
                  <div class="li" data-val="8">8月</div>
                  <div class="li" data-val="9">9月</div>
                  <div class="li" data-val="10">10月</div>
                  <div class="li" data-val="11">11月</div>
                  <div class="li" data-val="12">12月</div>
                </div>
              </div>
              <div class="next btn">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-youjianjiao"></use>
                </svg>
              </div>
            </div>
            <div class="date-day">
              <div class="day-week day-df">
                <div class="day-li">一</div>
                <div class="day-li">二</div>
                <div class="day-li">三</div>
                <div class="day-li">四</div>
                <div class="day-li">五</div>
                <div class="day-li">六</div>
                <div class="day-li">日</div>
              </div>
              <div class="day-every day-df"> -->
    <!-- <div class="day-li theM">31</div> -->
    <!-- <div class="day-li">01</div>  -->
    <!-- </div>
            </div>
          </div>
          <div class="dateul">
            <div class="date-this">
              <div class="txt"></div>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-chakan"></use>
              </svg>
            </div>
            <div class="date-ym">
              <div class="prev btn">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-youjianjiao"></use>
                </svg>
              </div>
              <div class="selectY item"> -->
    <!-- <div class="head"> -->
    <!-- <div class="txt selecttxt" data-val="2018">2018年</div> -->
    <!-- <svg class="icon" aria-hidden="true"> -->
    <!-- <use xlink:href="#icon-youjianjiao"></use> -->
    <!-- </svg> -->
    <!-- </div> -->
    <!-- <div class="cont"> -->
    <!-- <div class="li" data-val="2013">2013年</div> -->
    <!-- </div> -->
    <!-- </div>
              <div class="selectM item">
                <div class="head">
                  <div class="txt selecttxt" data-val="7">7月</div>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-youjianjiao"></use>
                  </svg>
                </div>
                <div class="cont">
                  <div class="li" data-val="1">1月</div>
                  <div class="li" data-val="2">2月</div>
                  <div class="li" data-val="3">3月</div>
                  <div class="li" data-val="4">4月</div>
                  <div class="li" data-val="5">5月</div>
                  <div class="li" data-val="6">6月</div>
                  <div class="li" data-val="7">7月</div>
                  <div class="li" data-val="8">8月</div>
                  <div class="li" data-val="9">9月</div>
                  <div class="li" data-val="10">10月</div>
                  <div class="li" data-val="11">11月</div>
                  <div class="li" data-val="12">12月</div>
                </div>
              </div>
              <div class="next btn">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-youjianjiao"></use>
                </svg>
              </div>
            </div>
            <div class="date-day">
              <div class="day-week day-df">
                <div class="day-li">一</div>
                <div class="day-li">二</div>
                <div class="day-li">三</div>
                <div class="day-li">四</div>
                <div class="day-li">五</div>
                <div class="day-li">六</div>
                <div class="day-li">日</div>
              </div>
              <div class="day-every day-df">
                <div class="day-li">31</div>
                <div class="day-li theM">01</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-footer">
          <div class="select"></div>
          <div class="btns">
            <div class="btn btn-sure">确定</div>
          </div>
        </div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="1" data-subname="areaProvince">

      <div class="head">
        <div class="txt">省份</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">全部</div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="2" data-subname="areaCity">

      <div class="head">
        <div class="txt">地市</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">全部</div>
      </div>

    </div>

    <div class="item" data-pos-bigall="0" data-type="3" data-subname="grid">

      <div class="head">
        <div class="txt">网格</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="cont-head">
          <div class="head-title">请选择</div>
          <div class="head-search">
            <input type="text" class="serachId">
            <div class="btns">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-sousuo1"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="cont-body">

          <div class="itemli">this is 1</div>

        </div>
        <div class="cont-footer">
          <div class="select">
            全选
          </div>
          <div class="btns">
            <div class="btn btn-sure">确定</div>
          </div>
        </div>
      </div>

    </div>

    <div class="item" data-pos-bigall="0" data-type="4" data-subname="concatFirst">

      <div class="head">
        <div class="txt">一级触点</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="cont-head">
          <div class="head-title">请选择</div>
          <div class="head-search">
            <input type="text" class="serachId">
            <div class="btns">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-sousuo1"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="cont-body">

          <div class="itemli">一级触点 1</div>

        </div>
        <div class="cont-footer">
          <div class="select" data-placehd="全部一级触点">
            <div class="checkbox"></div>
            <div class="checkbox-cont">全选</div>
          </div>
          <div class="btns">
            <div class="btn btn-sure">确定</div>
          </div>
        </div>
      </div>

    </div>

    <div class="item" data-pos-bigall="0" data-type="5" data-subname="concatSecond">

      <div class="head">
        <div class="txt">二级触点</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="cont-head">
          <div class="head-title">请选择</div>
          <div class="head-search">
            <input type="text" class="serachId">
            <div class="btns">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-sousuo1"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="cont-body">

          <div class="itemli">二级触点 1</div>

        </div>
        <div class="cont-footer">
          <div class="select" data-placehd="全部二级触点">
            全选
          </div>
          <div class="btns">
            <div class="btn btn-sure">确定</div>
          </div>
        </div>
      </div>

    </div>

    <div class="item" data-pos-bigall="1" data-type="6" data-subname="product">

      <div class="head">
        <div class="txt">产品</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="cont-head">
          <div class="head-title">请选择</div>
          <div class="head-search">
            <input type="text" class="serachId">
            <div class="btns">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-sousuo1"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="cont-body">

          <div class="itemli">产品产品 1</div>

        </div>
        <div class="cont-footer">
          <div class="select" data-placehd="全部产品">
            全选
          </div>
          <div class="btns">
            <div class="btn btn-sure">确定</div>
          </div>
        </div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="7" data-subname="business">

      <div class="head">
        <div class="txt">业务形态</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">全部</div>
        <div class="li">现场购</div>
        <div class="li">线上2I</div>
        <div class="li">线上购</div>
        <div class="li">电话购</div>
        <div class="li">闪电购</div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="8" data-subname="deliver">

      <div class="head">
        <div class="txt">交付方式</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">全部</div>
        <div class="li">上门</div>
        <div class="li">自提</div>
        <div class="li">物流</div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="9" data-subname="orderstatus">

      <div class="head">
        <div class="txt">订单状态</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">全部</div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="10" data-subname="age">

      <div class="head">
        <div class="txt">16岁以下</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">16岁以下 是</div>
        <div class="li">16岁以下 否</div>
      </div>

    </div>

    <div class="item" data-pos-relative data-type="11" data-subname="transProvince">

      <div class="head">
        <div class="txt">跨省属性</div>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-youjianjiao"></use>
        </svg>
      </div>
      <div class="cont">
        <div class="li">跨省</div>
        <div class="li">非跨省</div>
      </div>

    </div>

    <div class="kong"></div>

    <div class="item" data-use="return">
      <div class="head">
        <div class="txt">重置</div>
      </div>
    </div>

    <div class="item" data-use="search">
      <div class="head">
        <div class="txt">查询</div>
      </div>
    </div>
 -->
  </div>

</div>
