<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- 使用 CDN 加速的 CSS 文件，配置在 vue.config.js 下 -->
    <% for (var i in htmlWebpackPlugin.options.cdn&&htmlWebpackPlugin.options.cdn.css) { %>
    <link href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" rel="preload" as="style">
    <link href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" rel="stylesheet">
    <% } %>
    <!-- 使用 CDN 加速的 JS 文件，配置在 vue.config.js 下 -->
    <% for (var i in htmlWebpackPlugin.options.cdn&&htmlWebpackPlugin.options.cdn.js) { %>
    <link href="<%= htmlWebpackPlugin.options.cdn.js[i] %>" rel="preload" as="script">
    <% } %>
    <title>hhhhh</title>
  </head>
  <body>
    <%- require('../../../template/header.html')() %>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
      nesciunt incidunt vitae accusantium! Ipsum, doloremque? Nam iusto, dolores
      voluptas quas id, molestias esse, omnis laudantium inventore nihil
      excepturi doloremque odio.
    </div>
    <% for (var i in htmlWebpackPlugin.options.cdn&&htmlWebpackPlugin.options.cdn.js) { %>
    <script src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
    <% } %>
  </body>
</html>
